.sobre-nos {
  display: flex;
  align-items: center;
  width: 100%;
  height: 650px;
  background-color: $white;
  @media #{$md-layout} {
    height: auto;
    padding: 50px 0;
  }
  @media #{$sm-layout} {
    height: auto;
    padding: 50px 0;
  }
  & .about {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > h2 {
      font-family: $font-2;
      font-size: 40px;
      color: $silver70;
      font-weight: 500;
      text-transform: uppercase;
      padding-bottom: 10px;
      border-bottom: 5px solid $primary;
      margin-bottom: 25px;
      @media #{$sm-layout} {
        font-size: 28px;
      }
    }
    & > p {
      width: 90%;
      font-family: $font-2;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: $silver70;
      &:first-child {
        margin-bottom: 30px !important;
      }
      @media #{$sm-layout} {
        font-size: 14px;
      }
    }
  }

  & .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
