.abrir-empresa {
  width: 100%;
  background: $black;
  padding: 40px 0;
  & h2 {
    text-align: center;
    color: $white;
    font-family: $font-2;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
    @media #{$sm-layout} {
      font-size: 28px;
    }
  }
  & p {
    font-size: 16px;
    font-weight: 300;
    color: $white;
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;
    @media #{$sm-layout} {
      padding: 0 0;
    }
  }
  & .button {
    display: flex;
    justify-content: center;
    align-items: center;
    & a {
      background-color: transparent;
      color: $primary;
      font-size: 20px;
      font-family: $font-1;
      font-weight: bold;
      border: 1px solid $primary;
      border-radius: 4px;
      padding: 20px 40px;
      text-align: center;
      text-decoration: none;
      transition: all 0.5s ease-in-out;
      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
}

.mt-sm-50 {
  @media #{$sm-layout} {
    margin-top: 50px;
  }
}
