.feature-bg-image {
  position: relative;
  background-image: url(../images/conalt-gestao-empresarial.jpeg);
  background-repeat: no-repeat;
  background-size: 80% 100%;
  background-position: -150% -10%;
  margin-top: 20px;
  padding-top: 50px;
  min-height: 650px;
  height: 100%;
  @media #{$md-layout} {
    margin-top: 0;
    height: auto;
    background-size: 100% 50%;
    background-position: 0 0%;
  }

  @media #{$sm-layout} {
    margin-top: 0;
    height: auto;
    background-size: 100% 30%;
    background-position: 0 0%;
  }
  & > .layer {
    background-color: rgba(4, 21, 33, 0.73);
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    @media #{$md-layout} {
      width: 100%;
      height: 50%;
    }

    @media #{$sm-layout} {
      width: 100%;
      height: 30%;
    }
  }
}

.pt-lg-50 {
  padding-top: 50px;
  @media #{$md-layout} {
    padding-top: 0px;
  }

  @media #{$sm-layout} {
    padding-top: 0px;
  }
}

.feature {
  margin-bottom: 96px;
  position: relative;
  z-index: 2;
  display: flex;
  @media #{$sm-layout} {
    display: block;
    margin-bottom: 50px;
  }
  .content {
    width: 408px;

    @media #{$sm-layout} {
      width: auto;
    }

    .title {
      line-height: 21px;
      margin-bottom: 11px;
      font-size: 28px;
      font-weight: 600;

      @media #{$sm-layout} {
        margin-bottom: 15px;
        font-size: 22px;
      }
    }
    .desc {
      margin-bottom: 0;
    }
  }
}

.feature-area {
  padding-bottom: 50px;
  &.vertical-feature {
    @media #{$lg-layout} {
      position: relative;
      //margin-bottom: -200px;
      z-index: 5;
    }

    @media #{$md-layout} {
      padding-bottom: 0;
    }
  }
  &.horizontal-feature {
    margin-top: 0;
    padding-top: 120px;

    @media #{$lg-layout} {
      margin-top: 0;
      padding-top: 120px;
      padding-bottom: 0;
    }
    @media #{$md-layout} {
      margin-top: 0;
      padding-top: 80px;
      padding-bottom: 0;
    }
    @media #{$sm-layout} {
      margin-top: 0;
      padding-top: 80px;
      padding-bottom: 40px;
    }
  }
  & .card-title {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 10px;
    & > h2 {
      color: $white;
      font-size: 40px;
      font-family: $font-2;
      margin-bottom: 20px;
      &:after {
        content: '';
        background: $primary;
        width: 365px;
        height: 5px;
        display: block;
      }
      @media #{$sm-layout} {
        font-size: 32px;
        &:after {
          width: 290px;
        }
      }
    }
    & > p {
      font-size: 14px;
      font-family: $font-2;
      color: $white;
      margin-bottom: 20px; // 35px
      text-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
      // line-height: 16px;
    }
  }
}
