.card-box {
  padding: 5px;
  width: 100%;
  background: $white;
  min-height: 150px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: all 0.4s ease-in-out;
  &:hover {
    box-shadow: 0px 6px 9px #00000029;
  }
  & .icon {
    display: flex;
    flex: 0 1 25%;
    justify-content: center;
    align-items: center;
    & > img {
      width: 60px;
      height: 60px;
    }
  }
  & .body {
    display: flex;
    flex: 0 1 75%;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 10px 0;
    & > h3 {
      color: $silver70;
      font-size: 18px;
      font-family: $font-2;
      font-weight: bold;
    }
    & > p {
      font-size: 12px;
      font-family: $font-2;
      color: $silver50;
      transition: all 0.6s ease-in-out;
    }
    & ul {
      list-style: none;
      padding-left: 10px;
      & li {
        font-size: 11.5px;
        font-family: $font-1;
        font-weight: 400;
        color: $silver30;
        margin-bottom: 5px;
      }
    }
  }
  & > .link {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 10px;
    font-family: $font-2;
    color: $primary;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    user-select: none;
    &:hover {
      color: lighten($primary, 10%);
    }
  }
}
