/**
 * Red Colors
 */
$default: #2c4a7c;
$primary: #ea7501;
$secondary: darken(#2c4a7c, 5%);
$light: lighten(#2c4a7c, 15%);

/**
 * Default Colors
 */
$white: #ffffff;
$silver16: darken($white, 16%);
$silver10: #ced6e0;
$silver20: #8e8e8e;
$silver30: #707070;
$silver50: #555555;
$silver70: #3d3d3d;
$silver80: #343434;
$black: #000000;
$mobnav: lighten($primary, 10%);
