.contato {
  width: 100%;
  padding: 70px 0 30px 0;
  & .box {
    background: $white;
    height: auto;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    @media #{$md-layout} {
      &:first-child {
        margin-bottom: 20px;
      }
    }
    @media #{$sm-layout} {
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
  & h2 {
    font-family: $font-2;
    font-size: 30px;
    font-weight: bold;
    color: $black;
  }
  & h3 {
    font-family: $font-2;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 5px solid $primary;
    padding-bottom: 5px;
    margin-bottom: 20px;
    width: 185px;
  }
  & p {
    font-family: $font-2;
    font-size: 12px;
    color: $silver70;
  }
  & ul {
    width: 100%;
    list-style: none;
    & li {
      padding: 2px 0;
      font-size: 12px;
      font-family: $font-2;
      font-weight: bold;
      & a {
        text-decoration: none;
        color: $black;
        transition: all 0.4s ease-in-out;
        &:hover {
          color: lighten($black, 40%);
        }
      }
      & img {
        margin-right: 10px;
      }
    }
  }
  & .box-submit {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

.btn-enviar {
  padding: 12px 25px;
  background: $default;
  color: $white;
  font-family: $font-1;
  border: 0;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  &:hover {
    background: darken($default, 5%);
  }
  &:focus {
    background: lighten ($default, 10%);
  }
}

.form-textarea {
  height: 160px !important;
}

.bg-footer {
  width: 100%;
  background-image: url('./../images/img-footer.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  @media #{$md-layout} {
    background-position: 45% 0%;
    background-size: auto 100%;
  }
  @media #{$sm-layout} {
    background-position: 25% 0%;
    background-size: auto 100%;
  }
}
