/*
 * Roboto Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/*
  * Raleway
  */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

.segoe {
  font-family: 'Segoe UI', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}
