.footer {
  width: 100%;
  height: auto;
  padding: 20px 0 10px;
  background: $black;
  & .footer-body {
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      height: 35px;
      margin-right: 30px;
    }
    p {
      font-family: $font-2;
      color: $white;
      font-size: 11px;
    }
  }
}
