.slider-area {
  height: 100vh;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;

  @media #{$lg-layout} {
    height: 100vh;
  }

  @media #{$md-layout} {
    height: auto;
    padding: 0;
    padding-bottom: 58px;
  }

  @media #{$sm-layout} {
    height: auto;
    padding: 0;
    padding-bottom: 58px;
  }

  &.bg-shape {
    &::before {
      background-image: url(../images/bg-home.jpg);
      background-repeat: no-repeat;
      background-position: left top;
      background-size: cover;
      content: '';
      height: 100vh;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
      bottom: 0px;
      right: 0;
      top: auto;
    }
    & .layer {
      background-color: rgba(4, 21, 33, 0.75);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    @media #{$lg-layout} {
      height: 100vh;
    }
    @media #{$md-layout} {
      background-image: inherit;
      height: 100vh;
    }
    @media #{$sm-layout} {
      background-image: inherit;
      height: 100vh;
    }
  }

  .row {
    height: 100%;
  }
  .container-into {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 100%;
    z-index: 2;
    margin-top: 180px;
    z-index: 9;
    & > h1 {
      font-family: $font-1;
      text-align: center;
      font-size: 45px;
      font-weight: 800;
      margin-bottom: 50px;
      color: $white;

      @media #{$lg-layout} {
        font-size: 42px;
        line-height: 58px;
        margin-bottom: 10px;
      }

      @media #{$md-layout} {
        font-size: 36px;
        br {
          display: none;
        }
      }
      @media #{$sm-layout} {
        font-size: 26px;
        margin-bottom: 11px;
        br {
          display: none;
        }
      }
    }
    & > p {
      color: #ffffff;
      margin-bottom: 33px;
      font-size: 14px;
      text-align: center;
      width: 80%;
      @media #{$md-layout} {
        width: 90%;
      }
      @media #{$sm-layout} {
        font-size: 14px;
        line-height: 14px;
        width: 95%;
        margin-bottom: 13px;
      }
    }
    & > .button {
      margin-top: 30px;

      .btn-into {
        padding: 20px 90px;
        border-radius: 4px;
        border: 1px solid $default;
        background-color: $default;
        color: $white;
        font-family: 'Segoe UI', sans-serif;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.5s ease-in-out;
        &:hover {
          background-color: transparent;
          color: $white;
          border-color: lighten($default, 10%);
        }
        @media #{$sm-layout} {
          padding: 15px 60px;
        }
      }
    }
  }
}
