.legal-advice-bg-image {
  position: relative;
  background-image: url(../images/conalt-assessoria-juridica.jpeg);
  background-repeat: no-repeat;
  background-size: 70% 100%;

  // background-position: -150% -10%;
  background-position: right 0px;
  margin-top: 20px;
  padding: 40px 0 30px;
  min-height: 490px;
  height: 100%;
  @media #{$md-layout} {
    margin-top: 0;
    height: auto;
    background-size: 70% 100%;
    background-position: right 0px;
  }

  @media #{$sm-layout} {
    margin-top: 0;
    height: auto;
    background-size: 100% 100%;
    background-position: right 0px;
    padding: 30px 0 20px;
  }
  @media #{$small-mobile} {
    background-size: 100% 90%;
  }
  & > .layer {
    background-color: rgba(4, 21, 33, 0.73);
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    @media #{$md-layout} {
      width: 70%;
      height: 100%;
    }

    @media #{$sm-layout} {
      width: 100%;
      height: 100%;
    }
    @media #{$small-mobile} {
      width: 100%;
    }
  }
}

.legal-advice-box-border {
  position: relative;
  border: 10px solid rgba($primary, 0.5);
  width: 60%;
  min-height: 680px;
  @media #{$lg-layout} {
    min-height: 500px;
  }
  @media #{$md-layout} {
    width: 70%;
    min-height: 450px;
  }
  @media #{$sm-layout} {
    width: 90%;
    min-height: 440px;
  }
  @media #{$small-mobile} {
    width: 100%;
    min-height: 450px;
  }

  & .box {
    display: flex;
    width: 100%;
    height: 95%;
    background: $white;
    position: absolute;
    top: 8px;
    left: -10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    @media #{$sm-layout} {
      top: 10px;
    }
    @media #{$small-mobile} {
      left: 10px;
    }
    & .box-body {
      width: 650px;
      padding: 10px 30px;

      @media #{$lg-layout} {
        width: 500px;
      }
      @media #{$md-layout} {
        width: 500px;
      }
      @media #{$sm-layout} {
        width: auto;
        padding: 10px 40px;
      }
      @media #{$small-mobile} {
        width: auto;
        padding: 10px;
      }
      & h2 {
        font-family: $font-2;
        font-weight: bold;
        font-size: 32px;
        @media #{$lg-layout} {
          font-size: 28px;
        }
        @media #{$md-layout} {
          font-size: 24px;
        }
        @media #{$sm-layout} {
          font-size: 20px;
        }
        @media #{$small-mobile} {
          font-size: 18px;
        }
      }
      & h4 {
        font-family: $font-2;
        font-weight: bold;
        font-size: 16px;
        @media #{$lg-layout} {
          font-size: 14px;
        }
        @media #{$md-layout} {
          font-size: 13px;
        }
        @media #{$sm-layout} {
          font-size: 12px;
        }
        @media #{$small-mobile} {
          font-size: 11.5px;
        }
      }
      & p {
        font-family: $font-2;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: $silver50;
        @media #{$lg-layout} {
          font-size: 12px;
        }
        @media #{$md-layout} {
          font-size: 12px;
        }
        @media #{$sm-layout} {
          font-size: 12px;
        }
        @media #{$small-mobile} {
          font-size: 11.5px;
        }
      }
      & ul {
        list-style: none;
        color: $silver50;
        li {
          font-size: 14px;
          @media #{$lg-layout} {
            font-size: 14px;
          }
          @media #{$md-layout} {
            font-size: 13px;
          }
          @media #{$sm-layout} {
            font-size: 12px;
          }
          @media #{$small-mobile} {
            font-size: 11.5px;
          }
        }
      }

      & .button {
        background: $default;
        padding: 12px 20px;
        color: $white;
        border-radius: 5px;
        font-family: $font-1;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.5s ease-in-out;
        @media #{$md-layout} {
          font-size: 14px;
        }
        @media #{$sm-layout} {
          font-size: 12px;
        }
        &:hover {
          background: darken($default, 5%);
        }
      }
    }
  }
}

.mb-20 {
  @media #{$laptop-device} {
    margin-bottom: 20px;
  }
  @media #{$extra-device} {
    margin-bottom: 20px;
  }
}
