.color-picker {
  right: -190px;
}

.app-header {
  &.header--transparent {
    left: 0;
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 2;

    @media #{$lg-layout} {
      top: 60px;
    }

    @media #{$md-layout} {
      top: 40px;
    }

    @media #{$sm-layout} {
      top: 40px;
    }
  }

  .logo-wrapper {
    margin-bottom: 20px;
    & > img {
      height: 120px;

      @media #{$lg-layout} {
        height: 90px;
      }

      @media #{$md-layout} {
        height: 70px;
      }

      @media #{$sm-layout} {
        height: 60px;
      }
    }
  }

  .button-conalt {
    font-size: 12px;
    line-height: 32px;
    background-color: $default;
    border: 1px solid $default;
    border-radius: 4px;
    color: $white !important;
    transition: all 0.4s ease-in-out;
    padding: 8px 15px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: transparent;
      color: $white;
      border-color: lighten($default, 10%);
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  & > nav {
    display: flex;
    align-items: center;
  }
}
.main-menu {
  display: flex;
  margin: 0;
  list-style: none;
  & li.brand-logo {
    margin-right: 30px;
    display: none;
    & a {
      text-decoration: none;
      border: 0;
      outline: 0;
      padding: 0;
      margin: 0;
      & img {
        height: 35px;
      }
    }
  }
  li {
    a {
      color: $white;
      display: block;
      font-family: 'Segoe UI', sans-serif;
      font-size: 12px;
      font-weight: bold;
      line-height: 26px;
      margin-right: 34px;
      padding: 0 1px;
      position: relative;
      transition: all 0.3s ease 0s;
      text-decoration: none;
      &::before {
        background: $default none repeat scroll 0 0;
        bottom: 0;
        content: '';
        height: 0;
        left: 50%;
        position: absolute;
        right: 50%;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        z-index: -1;
      }
      &:hover {
        &::before {
          left: 0;
          right: 0;
          height: 2px;
        }
      }
    }
    &.active {
      a {
        &::before {
          left: 0;
          right: 0;
          height: 2px;
        }
      }
    }
  }
}

.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: transparent;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all 0.375s;

  &.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: $primary;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all 0.275s 0.1s;
  }

  &.is-open::before {
    transform: skew(-14deg) translateX(0);
  }

  ul {
    display: inline-flex;
    flex-direction: column;
    height: 93%;

    /* Should be 100%, but we have a notice message :D */
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
  }

  li {
    display: block;
    margin: 0.5rem 0;
    text-align: right;
    transform: skew(16deg);
  }

  a {
    opacity: 0;
    transform: translateY(-10px);
  }

  &.is-open a {
    opacity: 1;
    transform: translateY(0);
  }

  li {
    &:nth-child(1) a {
      transition: all 275ms 175ms;
    }

    &:nth-child(2) a {
      transition: all 275ms 225ms;
    }

    &:nth-child(3) a {
      transition: all 275ms 275ms;
    }

    &:nth-child(4) a {
      transition: all 275ms 325ms;
    }

    &:nth-child(5) a {
      transition: all 275ms 375ms;
    }
  }

  ul,
  li {
    list-style: none;
    padding: 0;
  }

  a {
    display: block;
    padding: 12px 0;
    color: $white;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: bold;
  }
}

/* Yellow band effect */

/* Skewing effect on menu links */

/* Apparition effect on links */

/* Decoration */

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */

.open-main-nav {
  position: absolute;
  top: 15px;
  padding-top: 20px;
  right: 15px;
  z-index: 1000;
  background: none;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.burger {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: $white;
  transform: skew(5deg);
  transition: all 0.275s;

  &:after,
  &:before {
    content: '';
    display: block;
    height: 100%;
    background: $white;
    transition: all 0.275s;
  }

  &:after {
    transform: translateY(-12px) translateX(-2px) skew(-20deg);
  }

  &:before {
    transform: translateY(-16px) skew(-10deg);
  }
}

/* Toggle State part */

.is-open .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);

  &:before {
    transform: translateY(0px) skew(-10deg) rotate(75deg);
  }

  &:after {
    transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
  }
}

/* MENU Text part */

.burger-text {
  display: block;
  font-size: 0.675rem;
  letter-spacing: 0.05em;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: $white;
}

.app-header.stick {
  background: #2d3e50 none repeat scroll 0 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  padding: 25px 0;
  position: fixed;
  top: 0;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  & .logo-wrapper {
    display: none;
  }
  & .brand-logo {
    display: inline;
  }
}
.tap-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 150px;
  right: 30px;
  z-index: 99;
  color: white;
  text-align: center;
  background: $default;
  border-radius: 100%;
  font-size: 22px;
  cursor: pointer;
  line-height: 2.2;
  display: none;
  border: 1px solid white;
}
