#scroll-to {
  position: fixed;
  bottom: 30px;
  right: 15px;
  z-index: 9999;
  & a {
    background: $default;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px 10px 15px 10px;
    transition: all 0.5s ease-in-out;
    &:hover {
      background: lighten($default, 10%);
    }
    & img {
      width: 20px;
      height: 20px;
    }
  }
}
