.services {
  width: 100%;
  height: auto;
  padding: 70px 0 30px 0;

  & .header {
    margin-bottom: 40px;
  }

  & h2.title {
    font-size: 40px;
    font-family: $font-2;
    font-weight: bold;
    color: $black;
    border-bottom: 5px solid $primary;
    @media #{$md-layout} {
      font-size: 34px;
      padding-bottom: 5px;
      width: 320px;
    }
    @media #{$sm-layout} {
      font-size: 28px;
      padding-bottom: 5px;
      width: 260px;
    }
  }

  & p.sub-title {
    color: $silver70;
    font-family: $font-2;
    font-size: 14px;
    @media #{$md-layout} {
      font-size: 13px;
    }
    @media #{$sm-layout} {
      font-size: 12px;
    }
  }
}
