.social-media {
  width: 100%;
  background-color: $black;
  padding: 20px 0;
  & .media {
    height: auto;
    display: flex;
    margin: 0 20px;

    & a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $white;
      transition: all 0.4s ease-in-out;
      &:hover {
        color: $primary;
      }
      & img {
        height: 30px;
        margin-bottom: 10px;
      }

      & p {
        padding: 0;
        margin: 0;
        font-family: $font-2;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
