.specialties {
  width: 100%;
  height: auto;
  padding: 40px 0;
  background-color: $black;
  & h2 {
    font-family: $font-2;
    color: $white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    @media #{$md-layout} {
      font-size: 20px;
    }
    @media #{$sm-layout} {
    }
  }
  & p {
    font-family: $font-2;
    color: $white;
    font-size: 16px;
    @media #{$md-layout} {
      font-size: 14px;
    }
  }

  & .card-services {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    & a {
      display: flex;
      justify-content: flex-start;
      & img {
        height: 150px;
        @media #{$sm-layout} {
          height: 75px;
        }
      }
    }
  }
}
