/**
 * Line Height e Font Size
 */
$body-font: 'Roboto', sans-serif;
$heading-font: 'Raleway', sans-serif;

// Heading Font List
$font-1: 'Roboto', sans-serif;
$font-2: 'Raleway', sans-serif;
$fontList: $font-1, $font-2;

$body-line-height: 24px;
$body-font-size: 16px;
$h1: 64px;
$h2: 54px;
$h3: 24px;
$h4: 20px;
$h5: 18px;
$h6: 16px;

/**
 * Layout
 */
$smlg-device: 'only screen and (max-width: 1199px)';
$extra-device: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$laptop-device: 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout: 'only screen and (min-width: 768px) and (max-width: 991px)';
$sm-layout: 'only screen and (max-width: 767px)';
$large-mobile: 'only screen and (max-width: 575px)';
/* container 450px*/
$small-mobile: 'only screen and (max-width: 479px)';
/* container 300px*/

@media #{$large-mobile} {
  .container {
    max-width: 450px;
  }
}

@media #{$small-mobile} {
  .container {
    max-width: 320px;
  }
}
@media (max-width: 1920px) and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
