.whatsapp-container {
  position: fixed;
  left: 25px;
  bottom: 75px;
  z-index: 99;
  & > a {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #0ba360;
    transition: 0.3s;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./../images/icons/whatsapp-logo.svg);
    fill: #fff;
    background-size: 50% auto;
    &::after,
    &::before {
      content: '';
      position: absolute;
      opacity: 0;
      border: 4px solid #0ba360;
      left: -10px;
      top: -10px;
      right: -10px;
      bottom: -10px;
      border-radius: 50%;
      animation: WaveWhatsApp 1.5s ease infinite;
    }
    &:hover {
      background-color: darken(#0ba360, 10%);
      -webkit-animation: pulsate 0.5s ease-in-out infinite both;
      animation: pulsate 0.5s ease-in-out infinite both;
      &::after,
      &::before {
        border-color: darken(#0ba360, 10%);
      }
    }
  }
}

@keyframes WaveWhatsApp {
  0% {
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
