@import '~bootstrap/scss/bootstrap.scss';

@import './variables';
@import './fonts';
@import './colors';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background: $white;
  -webkit-font-smoothing: antialiased !important;
}

body,
input,
button {
  color: #222;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  user-select: none;
  outline: 0;
}

// <== Components ==>
@import './card-box';

// <== LAYOUTS ==>
@import './whatsapp';
@import './navbar';
@import './nav-mobile';
@import './home';
@import './abrir_empresa';
@import './about';
@import './specialties';
@import './bmanagement';
@import './legal-advice';
@import './services';
@import './social-media';
@import './contact';
@import './map';
@import './footer';
@import './scroll-to-top';
